@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #101010;

  --primary: #2F4550;
  --secondary: #586F7C;
  --tertiary: #e4e4e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #eeeeee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
